# DEMO values. Значения вставлять в github/variables !!!
image:
  repository: 192.168.3.50/stream/media-service
  pullPolicy: Always
  tag: "latest"

limits:
  memory: "1024Mi" 
  cpu: "500m"

replicaCount: 1

service:
  port: 8080

env:
  KEY_1: "VALUE_1"

ingress:
  address: "full.domen.ru"
